body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clock-container {
    text-align: center;
}

.digital-clock {
    backdrop-filter: blur(5px);
    color: #00ffaa;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 170, 0.3);
    font-size: 5rem;
    font-weight: bold;
    display: inline-block;
    text-shadow: 0 0 10px rgba(0, 255, 170, 0.5);
    border: 2px solid #00ffaa;
}

.date-display {
    backdrop-filter: blur(2px);
    border-radius: 5px;
    color: #ffffff;
    font-weight: 900;
    margin-top: 20px;
    font-size: 2.5rem;
    opacity: 0.8;
    color: transparent;
    -webkit-text-stroke: 1px #00ffaa;
    text-shadow: 0 0 10px #00ffaa;
}

@media (max-width: 600px) {
    .digital-clock {
        font-size: 3rem;
        padding: 20px 30px;
    }
    
    .date-display {
        font-size: 1rem;
    }
}

.select-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 20px;
}

select {
    backdrop-filter: blur(5px);
    font-family: inherit;
    font-size: inherit;
    color: #00ffaa;
    background: transparent;
    border: 2px solid #00ffaa;
    border-radius: 4px;
    padding: 8px 32px 8px 12px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 0 8px #00ffaa4d;
}

select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%2300ffaa' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
}

select:focus {
    outline: none;
    border-color: #00ffaa;
    box-shadow: 0 0 0 3px #00ffaa80;
}

select option {
    background: #222;
    color: #00ffaa;
}